

div.club2 {
   content:url(/images/club2.png);
}​

div.club3 {
   content:url(/images/club3.png);
}​
div.club4 {
   content:url(/images/club4.png);
}​
div.club5 {
   content:url(/images/club5.png);
}​
div.club6 {
   content:url(/images/club6.png);
}​
div.club7 {
   content:url(/images/club7.png);
}​
div.club8 {
   content:url(/images/club8.png);
}​
div.club9 {
   content:url(/images/club9.png);
}​
div.club10 {
   content:url(/images/club10.png);
}​
div.clubace {
   content:url(/images/clubace.png);
}​
div.clubjack {
   content:url(/images/clubjack.png);
}​
div.clubqueen {
   content:url(/images/clubqueen.png);
}​
div.clubking {
   content:url(/images/clubking.png);
}​

div.spade2 {
   content:url(/images/spade2.png);
}​

div.spade3 {
   content:url(/images/spade3.png);
}​
div.spade4 {
   content:url(/images/spade4.png);
}​
div.spade5 {
   content:url(/images/spade5.png);
}​
div.spade6 {
   content:url(/images/spade6.png);
}​
div.spade7 {
   content:url(/images/spade7.png);
}​
div.spade8 {
   content:url(/images/spade8.png);
}​
div.spade9 {
   content:url(/images/spade9.png);
}​
div.spade10 {
   content:url(/images/spade10.png);
}​
div.spadeace {
   content:url(/images/spadeace.png);
}​
div.spadejack {
   content:url(/images/spadejack.png);
}​
div.spadequeen {
   content:url(/images/spadequeen.png);
}​
div.spadeking {
   content:url(/images/spadeking.png);
}​

div.diamond2 {
   content:url(/images/diamond2.png);
}​

div.diamond3 {
   content:url(/images/diamond3.png);
}​
div.diamond4 {
   content:url(/images/diamond4.png);
}​
div.diamond5 {
   content:url(/images/diamond5.png);
}​
div.diamond6 {
   content:url(/images/diamond6.png);
}​
div.diamond7 {
   content:url(/images/diamond7.png);
}​
div.diamond8 {
   content:url(/images/diamond8.png);
}​
div.diamond9 {
   content:url(/images/diamond9.png);
}​
div.diamond10 {
   content:url(/images/diamond10.png);
}​
div.diamondace {
   content:url(/images/diamondace.png);
}​
div.diamondjack {
   content:url(/images/diamondjack.png);
}​
div.diamondqueen {
   content:url(/images/diamondqueen.png);
}​
div.diamondking {
   content:url(/images/diamondking.png);
}​

div.heart2 {
   content:url(/images/heart2.png);
}​

div.heart3 {
   content:url(/images/heart3.png);
}​
div.heart4 {
   content:url(/images/heart4.png);
}​
div.heart5 {
   content:url(/images/heart5.png);
}​
div.heart6 {
   content:url(/images/heart6.png);
}​
div.heart7 {
   content:url(/images/heart7.png);
}​
div.heart8 {
   content:url(/images/heart8.png);
}​
div.heart9 {
   content:url(/images/heart9.png);
}​
div.heart10 {
   content:url(/images/heart10.png);
}​
div.heartace {
   content:url(/images/heartace.png);
}​
div.heartjack  {
   content:url(/images/heartjack.png);
}​
div.heartqueen  {
   content:url(/images/heartqueen.png);
}​
div.heartking {
   content:url(/images/heartking.png);
}​

.card {
    background-color: #ffffff;
    color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
}



 